<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"
	  type="image/x-icon"/>
    <meta 
       <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
       <title>The North America Modelica Users&rsquo; Group</title>
       <link rel="stylesheet" href="/static/css/bootstrap.css"/>
       <link rel="stylesheet" href="/static/css/bootstrap-responsive.css"/>
       <link rel="stylesheet" href="/static/css/namug.css"/>
  </head>

  <body>
    <div class="container{{resp}}">
      {% block header %}
      <div class="row{{resp}}">
	<div class="span12">
	  <a href="/">
	    <img src="/static/img/logo.png"
		 alt="The North America Modelica Users&rsquo; Group"/>
	  </a>
	  <a class="pull-right" href="mailto:{{email.info}}">
	    <img src="/static/img/mail.jpg" alt="mail"/>
	  </a>
	  <a class="pull-right" href="mailto:{{email.membership}}">
	    <img src="/static/img/member.jpg" alt="membership inquiries"/>
	  </a>
	</div>
      </div>
      {% endblock %}
      <div class="row{{resp}}">
	{% block hero %}
	<div class="span12 well shadowy paddedTB">
	  <div class="paddedLR pull-right">
	    <img src="/static/img/graphic.png"/>
	  </div>
	  <div class="paddedLR">
	    <p>
	      The North America Modelica <sup>&reg;</sup> Users&rsquo;
	      Group is a tool-neutral organization, founded to support
	      users within North America, and to promote the use of
	      Modelica for engineering model development in the
	      region. The goal of the group is to provide a forum for
	      sharing ideas from the global Modelica community, give
	      feedback for further development and to discuss and
	      resolve model-development issues that may be specific to
	      North America.
	    </p>
	    <p>
	      Membership is free, and open to all Modelica users
	      and engineering model developers who are interested in
	      finding out more about the language and community.
	    </p>
	    <dl>
	      <dt>Contact us</dt>
	      <dd>
		<a href="mailto:{{email.info}}">{{email.info}}</a>
	      </dd>
	      <dt>Membership inquiries</dt>
	      <dd>
		<a href="mailto:{{email.membership}}">{{email.membership}}
		</a>
	      </dd>
	    </dl>
	  </div>
	</div>
	{% endblock %}
      </div>
      <div class="row{{resp}} paddedTB">
	<div class="span7">
	  {% block front_page %}
	  &nbsp;
	  {% endblock %}
	</div>
	<div class="span5">
	  {% block register %}
	  {% endblock %}
	</div>
      </div>
      <div class="row{{resp}}">
	<hr/>
	{% block footer %}
	<div align="center">
	  <p class="legal">
	    Modelica&reg; and the Modelica Standard Library is &copy;
	    2000-2012 by the <a href="https://www.modelica.org/association"
	    class="plainlinklegal">Modelica Association</a> et
	    al.
	  </p>
	  <p>
	    Modelica&reg; is a registered trademark of
	    the <a href="https://www.modelica.org/association"
	    class="plainlinklegal">Modelica Association</a>.
	  </p>
	</div>
	{% endblock %}
      </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  </body>
</html>
